# MAC OSX system files #
*.DS_Store
.AppleDouble
.LSOverride
.DS_Store
.DS_Store?
.Trashes

# Icon must end with two \r #
Icon
Icon[\r]

# Thumbnails
._*
ehthumbs.db
Thumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IntelliJ project files
.idea/
out
gen

# Node.js
**/node_modules/
npm-debug.log

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

