language: node_js

node_js:
- "lts/*"
- "node"
- "8"

os:
- linux
- osx
- windows

after_success:
- ESM_DISABLE_CACHE=1 nyc --cache=false npm test && nyc report --reporter=text-lcov | coveralls; ls -al .nyc_output
